apiVersion: v1
kind: Secret
metadata:
    name: postgres-auth
    namespace: monitoring
type: Opaque
stringData:
    POSTGRES_DB: grafana
    POSTGRES_USER: grafana
    POSTGRES_PASSWORD: ChangeMe1234
