DOMAIN=https://<DOMAIN>
SIGNUPS_ALLOWED=false
VAULTWARDEN_ADMIN_TOKEN='$argon2id$v=19$m=65540,t=3,p=4$<ARGON2_SALT_BASE64>$<ARGON2_HASH_BASE64>'
VW_BACKUP_PASSWORD="<VW_BACKUP_PASSWORD>"
VW_BACKUP_EMAIL_RECIPIENT="you@example.com"
SMTP_EMAIL="you@example.com"
SMTP_PASSWORD="<SMTP_PASSWORD>"
