DOMAIN=https://vaultwarden.domain.com
SIGNUPS_ALLOWED=false
VAULTWARDEN_ADMIN_TOKEN='token'
VW_BACKUP_PASSWORD=backup-password
VW_BACKUP_EMAIL_RECIPIENT=admin@example.com
SMTP_EMAIL=example.notifier@gmail.com
SMTP_PASSWORD=abcd1234efgh5678
