HOMEPAGE_ALLOWED_HOSTS=homepage.example.com

HOMEPAGE_VAR_ADGUARD_PROXMOX_URL="http://<ADGUARD_PROXMOX_IP>"
HOMEPAGE_VAR_ADGUARD_PROXMOX_REMOTE_URL=https://adguard-proxmox.example.com
HOMEPAGE_VAR_ADGUARD_PROXMOX_USERNAME="<ADGUARD_PROXMOX_USERNAME>"
HOMEPAGE_VAR_ADGUARD_PROXMOX_PASSWORD="<ADGUARD_PROXMOX_PASSWORD>"

HOMEPAGE_VAR_ADGUARD_PI_URL="http://<ADGUARD_PI_IP>"
HOMEPAGE_VAR_ADGUARD_PI_REMOTE_URL=https://adguard-pi.example.com
HOMEPAGE_VAR_ADGUARD_PI_USERNAME="<ADGUARD_PI_USERNAME>"
HOMEPAGE_VAR_ADGUARD_PI_PASSWORD="<ADGUARD_PI_PASSWORD>"

HOMEPAGE_VAR_PEANUT_URL=http://<PEANUT_IP>:8082
HOMEPAGE_VAR_PEANUT_KEY=<PEANUT_API_KEY>
HOMEPAGE_VAR_PEANUT_USER=<PEANUT_USERNAME>
HOMEPAGE_VAR_PEANUT_PASS='<PEANUT_PASSWORD>'

HOMEPAGE_VAR_OPENWEATHERMAP_API=<OPENWEATHERMAP_API_KEY>

HOMEPAGE_VAR_NAS_URL=https://<NAS_IP>:5001
HOMEPAGE_VAR_NAS_USER=<NAS_USERNAME>
HOMEPAGE_VAR_NAS_PASSW='<NAS_PASSWORD>'

HOMEPAGE_VAR_PORTAINER_KEY=<PORTAINER_API_KEY>
HOMEPAGE_VAR_PORTAINER_PROXMOX_URL=http://<PORTAINER_PROXMOX_IP>:9000
HOMEPAGE_VAR_PORTAINER_PROXMOX_ENV=9
HOMEPAGE_VAR_PORTAINER_PI_URL=http://<PORTAINER_PI_IP>:9000
HOMEPAGE_VAR_PORTAINER_PI_ENV=14
HOMEPAGE_VAR_PORTAINER_NAS_URL=http://<PORTAINER_NAS_IP>:9000
HOMEPAGE_VAR_PORTAINER_NAS_ENV=4

HOMEPAGE_VAR_UPTIMEKUMA_PROXMOX_REMOTE_URL=https://uptimekuma-proxmox.example.com/status/live
HOMEPAGE_VAR_UPTIMEKUMA_PROXMOX_URL=http://<UPTIMEKUMA_PROXMOX_IP>:3001
HOMEPAGE_VAR_UPTIMEKUMA_PI_URL=http://<UPTIMEKUMA_PI_HOST>:3001
HOMEPAGE_VAR_UPTIMEKUMA_PI_ACTUAL_URL=http://<UPTIMEKUMA_PI_IP>:4001/status/live

HOMEPAGE_VAR_SLACK_URL=https://hooks.slack.com/services/<TOKEN>
HOMEPAGE_VAR_LIBRETRANSLATE_REMOTE_URL=https://libretranslate.example.com

HOMEPAGE_VAR_SYNCTHING_NAS_URL=http://<SYNCTHING_NAS_IP>:8384/
HOMEPAGE_VAR_FILEBROWSER_PI_URL=http://<FILEBROWSER_PI_IP>:10180/

HOMEPAGE_VAR_VAULTWARDEN_REMOTE_URL=https://vaultwarden.example.com

HOMEPAGE_VAR_GLUETUN_URL=http://<GLUETUN_IP>:8000
HOMEPAGE_VAR_GLUETUN_KEY=<GLUETUN_API_KEY>

HOMEPAGE_VAR_QBITTORRENT_URL=http://<QBITTORRENT_IP>:9865
HOMEPAGE_VAR_QBITTORRENT_USERNAME=<QBITTORRENT_USERNAME>
HOMEPAGE_VAR_QBITTORRENT_PASSWORD="<QBITTORRENT_PASSWORD>"

HOMEPAGE_VAR_OVERSEERR_URL="http://<OVERSEERR_IP>:5055"
HOMEPAGE_VAR_OVERSEERR_KEY="<OVERSEERR_API_KEY>"

HOMEPAGE_VAR_PLEX_URL="http://<PLEX_IP>:32400"
HOMEPAGE_VAR_PLEX_KEY="<PLEX_TOKEN>"

HOMEPAGE_VAR_PROWLARR_URL="http://<PROWLARR_IP>:9696"
HOMEPAGE_VAR_PROWLARR_KEY="<PROWLARR_API_KEY>"

HOMEPAGE_VAR_RADARR_URL="http://<RADARR_IP>:8310"
HOMEPAGE_VAR_RADARR_KEY="<RADARR_API_KEY>"

HOMEPAGE_VAR_SONARR_URL="http://<SONARR_IP>:8989"
HOMEPAGE_VAR_SONARR_KEY="<SONARR_API_KEY>"

HOMEPAGE_VAR_PROXMOX_URL=https://<PROXMOX_IP>:8006
HOMEPAGE_VAR_PROXMOX_USERNAME=<PROXMOX_USERNAME>
HOMEPAGE_VAR_PROXMOX_PASSWORD='<PROXMOX_PASSWORD>'
HOMEPAGE_VAR_PROXMOX_NODE=<PROXMOX_NODE>

HOMEPAGE_VAR_NPM_URL=http://<NPM_HOST>:81
HOMEPAGE_VAR_NPM_USERNAME=<NPM_USERNAME>
HOMEPAGE_VAR_NPM_PASSWORD='<NPM_PASSWORD>'

HOMEPAGE_VAR_WG_EASY_REMOTE_URL=https://wg-easy.example.com
HOMEPAGE_VAR_WG_EASY_URL=http://<WG_EASY_IP>:51821
HOMEPAGE_VAR_WG_EASY_PASSWORD='<WG_EASY_PASSWORD>'

HOMEPAGE_VAR_TDARR_URL=http://<TDARR_IP>:8265

HOMEPAGE_VAR_BESZEL_URL=https://beszel.example.com/
HOMEPAGE_VAR_BESZEL_HOST_IP=http://<BESZEL_HOST_IP>:8090
HOMEPAGE_VAR_BESZEL_USERNAME=<BESZEL_USERNAME>
HOMEPAGE_VAR_BESZEL_PASSWORD='<BESZEL_PASSWORD>'
