services:
    portainer:
        container_name: portainer
        image: portainer/portainer-ce:lts
        restart: always
        ports:
            - 9443:9443
            - 8000:8000
        volumes:
            - /var/run/docker.sock:/var/run/docker.sock
            - /root/docker/portainer-stack/portainer/data:/data
