ADGUARD_HOME_USERNAME=<ADGUARD_HOME_USERNAME>
ADGUARD_HOME_PASSWORD=<ADGUARD_HOME_PASSWORD>
API_USERNAME=<API_USERNAME>
API_PASSWORD=<API_PASSWORD>
ORIGIN_URL=http://<ORIGIN_IP_OR_HOST>
REPLICA1_URL=http://<REPLICA1_IP_OR_HOST>
